body {
    margin: 0;
    background-color: #0f2862;
    height: 100vh;
}

#quote-box {
    max-width: 645px;
}

#text {
    font-size: 30px;
}

#author::before {
    content: "- ";
}

#author {
    font-size: 25px;
}

#new-quote, #tweet-quote {
    background-color:#0f2862;
    border-color:#0f2862;
}