html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0f2862;
}

#quote-box {
    max-width: 645px;
    height: 325px;
}

#text, #author {
    font-size: 1.2rem;
}

#author::before {
    content: "- ";
}

#new-quote, #tweet-quote {
    background-color:#0f2862;
    border-color:#0f2862;
}

#app-title {
    font-size: 3rem;
}

#quote-controls {
    border-top: 0.5px solid #ebe6e3;
    padding-top: 15px;
}

#quote-info {
    overflow: auto;
}